[submodule "community_customizations"]
	path = community_customizations
	url = git://github.com/Elgg/community_customizations.git
[submodule "community_groups"]
	path = community_groups
	url = git://github.com/Elgg/community_groups.git
[submodule "community_plugins"]
	path = community_plugins
	url = git@github.com:Elgg/community_plugins.git
[submodule "community_theme"]
	path = community_theme
	url = git@github.com:Elgg/community_theme.git
